LLAMA_BASE_URL=http://127.0.0.1:8080
LLAMA_API_KEY=
LLAMA_METRICS_MODEL=
LLAMA_METRICS_DEMO=0
OBSERVER_HOST=0.0.0.0
OBSERVER_PORT=7778
POLL_INTERVAL_SECONDS=1
HISTORY_RETENTION_MINUTES=30
GPU_TEMPERATURE_ALERT_C=85
GPU_VRAM_ALERT_PERCENT=90
GENERATION_THROUGHPUT_DROP_PERCENT=40
GENERATION_THROUGHPUT_DROP_WINDOW_SECONDS=30
